<h2 mat-dialog-title>{{data.editorDisplay}}</h2>

<!-- Form for user display-->
<div [hidden]="!data.isUserForm">
	<!-- User name-->
	<mat-form-field appearance="fill">
		<mat-label>User name</mat-label>
		<input matInput [(ngModel)]="data.user.name" [readonly]="!data.buttonCancelDisplayed">
	</mat-form-field>

	<!-- User password-->
	<mat-form-field appearance="fill">
		<mat-label>Enter your password</mat-label>
		<input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="data.user.userPassword"
			[readonly]="!data.buttonCancelDisplayed">
		<button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
			[attr.aria-pressed]="hidePassword">
			<mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
		</button>
	</mat-form-field>

	<!-- User email-->
	<mat-form-field appearance="fill">
		<mat-label>Enter your email</mat-label>
		<input matInput placeholder="pat@example.com" [formControl]="email" required [(ngModel)]="data.user.userEmail"
			[readonly]="!data.buttonCancelDisplayed">
		<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
	</mat-form-field>

	<!-- Role type-->
	<mat-form-field appearance="fill">
		<mat-label>User Role</mat-label>
		<mat-select [(value)]="data.user.role" [disabled]="!data.buttonCancelDisplayed">
			<mat-option value="ADMIN">ADMIN</mat-option>
			<mat-option value="CHEF">CHEF</mat-option>
			<mat-option value="USER">USER</mat-option>
		</mat-select>
	</mat-form-field>
</div>

<!--Form for recipe display-->
<div [hidden]="data.isUserForm">

	<!--Recipe name-->
	<mat-form-field appearance="fill">
		<mat-label>User name</mat-label>
		<input matInput [(ngModel)]="data.user.name" [readonly]="!data.buttonCancelDisplayed">
	</mat-form-field>

	<!--Ingredients-->

	<mat-form-field class="ingredients-list" appearance="fill" [readonly]="!data.buttonCancelDisplayed">
		<mat-label>Ingredients</mat-label>
		<mat-chip-list #ingredientsChipList aria-label="Ingredients selection">
			<mat-chip *ngFor="let ingredient of data.user.ingredients" (removed)="remove(ingredient, data.user.ingredients)">
				{{ingredient.ingredient}}
				<button matChipRemove [disabled]="!data.buttonCancelDisplayed">
					<mat-icon>cancel</mat-icon>
				</button>
			</mat-chip>
			<input placeholder="New Ingredient..." [matChipInputFor]="ingredientsChipList"
				[matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
				(matChipInputTokenEnd)="addIngredient($event)">
		</mat-chip-list>
	</mat-form-field>

	<!--Keywords-->

		<mat-form-field class="keywords-list" appearance="fill" [readonly]="!data.buttonCancelDisplayed">
		<mat-label>Keywords</mat-label>
		<mat-chip-list #keywordsChipList aria-label="Keywords selection" selectable="data.buttonCancelDisplayed">
			<mat-chip *ngFor="let keyword of data.user.keywords" (removed)="remove(keyword, data.user.keywords)">
				{{keyword.keyword}}
				<button matChipRemove [disabled]="!data.buttonCancelDisplayed">
					<mat-icon>cancel</mat-icon>
				</button>
			</mat-chip>
			<input placeholder="New keyword..." [matChipInputFor]="keywordsChipList"
				[matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
				(matChipInputTokenEnd)="addKeyword($event)">
		</mat-chip-list>
	</mat-form-field>

</div>

<mat-dialog-actions align="end">
	<button mat-button [mat-dialog-close]="false" *ngIf="data.buttonCancelDisplayed">{{data.buttonCancel}}</button>
	<button mat-button [mat-dialog-close]="true" cdkFocusInitial
		(click)="data.isUserForm? onSaveUser(data.user, data.buttonSave) : onSaveRecipe(data.user, data.buttonSave)">{{data.buttonSave}}</button>
</mat-dialog-actions>